img(src='/img/top.jpg', usemap='#imgmap2010426202839')
map#imgmap2010426202839(name='imgmap2010426202839')
    area(shape='rect', alt='', title='', coords='0,13,779,86', href='/', target='')
    area(shape='rect', alt='', title='', coords='789,35,815,64', href='http://twitter.com/smd16b', target='_blank')
    area(shape='rect', alt='', title='', coords='818,35,841,64', href='http://www.facebook.com/#!/group.php?gid=223884933523', target='_blank')
    area(shape='rect', alt='', title='', coords='842,34,867,64', href='http://www.youtube.com/smd16b', target='_blank')
    area(shape='rect', alt='', title='', coords='869,35,894,63', href='http://formspring.me/smd16b', target='_blank')
    area(shape='rect', alt='', title='', coords='896,34,920,64', href='mailto:sega@smd16b.ru', target='_blank')
    area(shape='rect', alt='', title='', coords='923,34,946,62', href='http://vkontakte.ru/club1536954', target='_blank')
