nav.navbar.navbar-default.navbar-fixed-top
    div.container
        div.menu
            a.menu__link(href='news.html') новости
            span.menu__divider.menu__divider--green /
            a.menu__link(href='/team.html') команда
            span.menu__divider.menu__divider--blue /
            a.menu__link(href='/nashe.html') наше
            span.menu__divider.menu__divider--yellow /
            a.menu__link(href='https://www.youtube.com/user/smd16b') видео
            span.menu__divider.menu__divider--purple /
            a.menu__link(href='/photo.html') фото
            span.menu__divider.menu__divider--orange /
            a.menu__link(href='/super.html') суперраздел
