.team-menu
    a.team-menu__link.team-menu__link--green(href='/andrew.html') Андрей
    | /
    a.team-menu__link.team-menu__link--orange(href='/andrew.html') Галя
    | /
    a.team-menu__link.team-menu__link--yellow(href='/ilya.html') Илья
    | /
    a.team-menu__link.team-menu__link--blue(href='/serega.html') Серега