doctype html
html(lang="en")
    head
        title Sega Mega Drive 16 Bit
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport",content="width=device-width,initial-scale=1")
        link(rel="icon",href="/img/favicon.ico")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css",rel="stylesheet",integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7",crossorigin="anonymous")
        link(href="/css/app.css",rel="stylesheet")
        block head
    body
        div.page-container
            block body
                include /blocks/menu
                div.page-content
                    block content
                include /blocks/footer
        script(src="https://yastatic.net/jquery/2.1.4/jquery.min.js")
        script(src="/js/app.js")
        include /blocks/tracking
