extends layouts/app

block content
    include /blocks/team-menu
    #main-a(style='height: 1200px;')
        #news
            p
                b Ф.И.О.:
                |  Глинский Андрей Андреевич
                br
                b Дата рождения:
                |  13 августа 1989
                br
                b Где родился:
                |  г. Москва
            p
                b Чем занимался:
                |  7 лет занимался бальными танцами, 4 года профессионального киберспорта, 2
                |                         года верхний
                nobr брейк-данс
                |                     .
            p
                b Чем занимается:
                |  заканчивает учебу в 
                nobr ГУ-ВШЭ
                |                     , факультет менеджмента, предприниматель, рекламное агентство «Парализованный лось медиа»,
                nobr интернет-ресурс
                |                     Roomix.ru, другие собственные проекты.
            p
                b Любимый цвет:
                |  Черный
            p
                b Любимая книга:
                |  Альфред Бестер — «Тигр! Тигр!»; «Атлант расправил плечи» — Айн
                |                         Рид
            p
                b Любимый фильм\сериал\мультфильм:
                |  Matrix 1 \ Prison Break \ Тайна третьей планеты
            p
                b Музыкальные предпочтения:
                |  The Prodigy, Freestylers, Scooter, Flying steps. В целом:
                |                         меломан с уклоном в break-beat, d'n'b, hip-hop.
            p
                b Любимая игра:
                |  Unreal Tournament 2004
            p
                b Любимый сайт:
                |  Smd16b.ru, thefwa.com
            p
                b Любимый ролик в интернете:
                |  Double fail
                a(href='http://www.youtube.com/watch?v=8DxKG2EW1Hc') http://www.youtube.com/watch?v=8DxKG2EW1Hc
            p
                b Любит:
                |  деньги
            p
                b Не любит:
                |  Машу.
            p
                b Цитата\фраза:
                |  Хочешь получить прибыль — думай как прибыль
            p
                b Личные страницы в интернете:
                br
                a(href='http://aglinsky.ru/') aglinsky.ru
                br
                a(href='http://vkontakte.ru/shlakoblok') Vkontakte.ru/shlakoblok
                br
                a(href='http://twitter.com/aglinsky') twitter.com/aglinsky
                br
                a(href='http://formspring.me/aglinsky') formspring.me/aglinsky
                br
                a(href='http://livejournal.com/~aglinsky') Livejournal.com/~aglinsky
            p
                b Стремление:
                |  порвать всех
            img(src='/img/back-a-2.jpg')
