extends layouts/app

block content
    include /blocks/team-menu
    div.member-text.col-sm-8.col-sm-offset-2
        p
            b Ф.И.О.:
            |  Тенишева Галина Усмановна
            br
            b Дата рождения:
            |  24 декабря 1988
            br
            b Где родилась:
            |  г. Пенза (уехала оттуда в 2006)
        p
            b Чем занималась:
            |  6 лет занималась художественной гимнастикой, 5 лет танцами, ходила в художественную
            |                         школу, играла в волейбол.
        p
            b Чем занимается:
            |  Заканчивает учиться в Высшей Школе Экономики, играет в КВН с 1
            |                         курса, репетитор английского языка — это подработка, которая очень нравится (7
            |                         замечательных учеников), автор и реализатор в агентстве вирусного маркетинга
            |                         «Парализованный Лось Media»
        p
            b Любимый цвет:
            |  желтый (
            nobr как-то
            |                     с детства осталось, выступаю с желтым микрофоном)
        p
            b Любимая книга:
            |  Лилиан Войнич «Овод», Александр Дюма «Граф
            nobr Монте-Кристо
            |                     » (еще есть много книг которые нравятся, но 
            nobr почему-то
            |                     всегда пишу именно эти)
        p
            b Любимый фильм \ сериал \ мультфильм:
            |  Властелин Колец \ Друзья, Побег из Тюрьмы \
            |                         Красавица и Чудовище
        p
            b Музыкальные предпочтения:
            |  не люблю тяжелую музыку
        p
            b Любимая игра:
            |  сапер
        p
            b Любимый сайт:
            |  rzd.ru
        p
            b Любимый ролик в интернете:
            |  не смотрю ролики в интернете
        p
            b Любит:
            |  внимание
        p
            b Не любит:
            |  бездействие
        p
            b Цитата\фраза:
            |  оооой нет, я не умею отказывать
        p
            b Личная страница в интернете:
        p
            a(href='http://vkontakte.ru/tenisheva') http://vkontakte.ru/tenisheva
        p
            a(href='http://www.formspring.me/GalyaT') http://www.formspring.me/GalyaT
        p
            b Стремление:
            |  добиться всего к чему стремиться
