extends layouts/app
block content
    include /blocks/team-menu
    div.member-text.col-sm-8.col-sm-offset-2
        p
            b Ф.И.О.:
            |  Аксенов Илья Сергеевич
            br
            b Дата рождения:
            |  1 мая 1989 года
            br
            b Где родился:
            |  г. Тула
        p
            b Чем занимался:
            |  до 9 класса учился в гимназии № 3, 10–11 класс — лицей
            |                         при ТГУПУ. 6 лет занимался Вольной Борьбой, 2 года Самбо и Дзюдо. В 2006 году поступил
            |                         в 
            nobr ГУ-ВШЭ
            |                     , уехал из родного города учиться Москву, где начал играть в КВН.
        p
            b Чем занимается:
            |  Заканчивает учиться в Высшей Школе Экономики на факультете
            nobr бизнес-информатики
            |                     , играет в КВН с 1 курса. За 4 года игры в КВН побывал в 10 городах и в 5
            |                     официальных Лигах. Режиссер и режиссер монтажа короткометражных фильмов, рекламных роликов.
            |                     Автор шуток команд КВН. Автор и реализатор идей в агентстве вирусного маркетинга
            |                     «Парализованный Лось Media».
        p
            b Любимый цвет:
            |  черный, белый, синий, красный
        p
            b Любимая книга:
            |  Дюна, Фрэнк Герберт; Лабиринт Отражений, Сергей Лукьяненко
        p
            b Любимый фильм \ сериал \ мультфильм:
            |  их много. из последних — Район № 9
        p
            b Музыкальные предпочтения:
            |  Дельфин, Coldplay, Red Hot Chily Peppers и куча всего ещё
        p
            b Любимая игра:
            |  Morrowind, Braid, Blueberry Garden, кастрюлька
        p
            b Любимый сайт:
            a(href='http://db.tigsource.com/,') http://db.tigsource.com/,
            |                         last.fm
        p
            b Любимый ролик в интренете:
            |  падения котов, мистер фримен и 
            a(href='http://www.youtube.com/watch?v=bPO354_ugF8') http://www.youtube.com/watch?v=bPO354_ugF8
        p
            b Любит:
            |  я люблю людей, люблю когда их нет
        p
            b Не любит:
            |  пыль, бардак
        p
            b Цитата \ фраза:
            |  «ты все не правильно понял»
        p
            b Личная страница в интернете:
            br
            a(href='http://www.formspring.me/ilya0') http://www.formspring.me/ilya0
            br
            a(href='http://twitter.com/0ks') http://twitter.com/0ks
        p
            b Стремление:
            |  успокоиться.
