extends layouts/app
block content
    include /blocks/team-menu
    div.member-text.col-sm-8.col-sm-offset-2
        p
            b Чем занимался:
            |  Много лет занимался безудержным хоккеем.
            |                         Последние несколько лет вместо того, чтобы усердно учиться,
            |                         искал своё место в жизни. Полностью не определился, но
            |                         занимается только тем чем хочет, а не тем чем получилось.
            |                         Решил податься в управление проектами. Так же играл в
            |                         команде КВН «имени Летчика Бабушкина».
        p
            b Чем занимается:
            |  Развивается профессионально, занимается
            |                         спортом. Играет в КВН.
        p
            b Любимый цвет:
            |  Белый
        p
            b Любимая книга:
            |  Экзюпери — Цитадель
        p
            b Любимый фильм \ сериал \ мультфильм:
            |  Афера Томаса Крауна \ — \ Валли
        p
            b Музыкальные предпочтения:
            |  Muse, Год Змеи и Каста из любимых
        p
            b Любимая игра:
            |  Хоккей
        p
            b Любит:
            |  Зиму, молоко
        p
            b Не любит:
            |  Когда всё слишком спокойно
        p
            b Цитата\фраза:
            |  Кто ищет, тот всегда найдет
        p
            b Личные страницы в интернете:
            br
            a(href='http://vkontakte.ru/chubais') http://vkontakte.ru/chubais
            br
            a(href='http://twitter.com/hinish') http://twitter.com/hinish
            br
            a(href='http://paralysedelk.ru/') http://paralysedelk.ru/
        p
            b Стремление:
            |  к 30 годам хочет иметь свой остров, жену
            |                         красавицу и детей сорванцов. Хочет быть похож на Чубайса и
            |                         Хорнблауэра.
        center
